html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  width: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}